gym==0.21.0
-e git+https://github.com/MattChanTK/gym-maze.git#egg=gym-maze
-e git+https://github.com/finn1y/gym-robot-maze.git#egg=gym-robot-maze
keras==2.7.0
matplotlib==3.4.3
numpy==1.21.2
pygame==2.1.0
pyglet==1.5.21
tensorboard==2.7.0
tensorflow==2.7.0
