cloudpickle==2.0.0
gym==0.21.0
-e ../gym-maze
-e git+ssh://git@github.com/finn1y/gym-robot-maze.git@4006f0df820d98f52f505a1a40600c4c16fe10e2#egg=gym_robot_maze
keras==2.7.0
Keras-Preprocessing==1.1.2
matplotlib==3.4.3
numpy==1.21.2
pygame==2.1.0
pyglet==1.5.21
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-probability==0.15.0
